.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px) scale(1.05);
}

button {
    transition: transform 0.3s;
}

button:hover {
    transform: translateY(-8px) scale(1.05);
}